.calc_grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 4rem);
  gap: 0.25rem;
}

.calc_display {
  font-size: x-large;
}

.btn-wide {
  grid-column: span 2;
}

.btn-tall {
  grid-column: span 2;
}
